<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uhuhuhu.tabtest" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_29"
        android:label="@string/app_name"
        android:maxSdkVersion="22"
        android:theme="@style/AppTheme" >
        <activity android:name=".HomeActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".PrescriptionsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".MeasurementsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".JournalActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".FeedbackActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".MoreActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".DayActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".HistoryActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ListActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".PatientMessages" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".PatientSettings" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".PatientProfile" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".NewMeasurementActivity" android:noHistory="true"/>
        <activity android:name=".NewJournalActivity" android:noHistory="true" android:theme="@android:style/Theme.NoTitleBar"/>
        <!--<activity android:name=".MeasurementsSelector" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>-->
        <activity android:name=".MeasurementsSelector" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
